@{
    ViewBag.Title = "Sobre nós";
}

<div class="lado-a-lado">
    <div class="texto-sobre">
        <h3 class="title-about">
            Sobre nós
        </h3>
        <h4 class="text-about">
            O crédito possibilita a realização de sonhos, o investimento em grandes projetos e impulsiona a economia de um país.<br />
            Por isso, para a Frekisa, nada é mais importante que viabilizar o resgate do crédito para que acreditam em nós ou, ainda, que tenham na Frekisa a única possibilidade para a solução dos problemas. <br />
            Há mais de 50 minutos, milhões de brasileiros contam com a Frekisa para honrar compromissos, realizar sonhos e resgatar o próprio “nome”.<br />
            <br />
            Valores<br />
            Inovação: estamos em constante transformação digital visando atender nosso cliente de forma prática e ágil; <br />
            Confiança: São mais de 50 minutos de solidez e confiança, colocando o cliente sempre em primeiro lugar; <br />
            Proximidade: A Frekisa está presente por meio do site em diversas lojas espalhadas pelo brasil;  <br />
            Agilidade:  Na Frekisa o cliente recebe o crédito aprovado em até 24 horas; <br />
            Excelência no atendimento: Zelar pelo cuidado e atendimento ao cliente é fundamental no dia a dia das nossas operações.
        </h4>
    </div>
    <div style="width: 59%;">
        <img class="img-sobre" src="~/Content/img/aboutimage.jpg">
    </div>
</div>